{%if settings.product_images_position == 'left' %}

  <div class="ten columns alpha">
    <div id="feature_image" class="product_image_col {% if product.images.size > 1 %}multiple_product_images{% else %}single_product_image{% endif %}">
      <a href="{{ product.featured_image | product_img_url: 'original' }}" data-index="" title="{{ product.featured_image.alt | escape }}"><img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" itemprop="image" /></a>
    </div>

    <div class="thumbnails product_image_col {% if product.images.size == 1 %}hidden{% endif %}">
      {% for image in product.images %}
        <div class="two columns thumb {% cycle 'alpha', '', '', '', 'omega'  %}">
          <a href="{{ image | product_img_url: 'original' }}" class="fancybox" data-index="{{ forloop.index0 }}" title="{{ image.alt | escape }}"><img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" /></a>
        </div>
        
        {% cycle '', '', '', '', '<div class="clear"></div>'  %}
      {% endfor %}
      </div>
  </div>

{% else %}

  <div class="ten columns omega">
    <div id="feature_image" class="product_image_col {% if product.images.size > 1 %}multiple_product_images{% else %}single_product_image{% endif %}">
      <a href="{{ product.featured_image | product_img_url: 'original' }}" data-index="" title="{{ product.featured_image.alt | escape }}"><img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" itemprop="image" /></a>
    </div>
    
    <div class="thumbnails product_image_col {% if product.images.size == 1 %}hidden{% endif %}">
      {% for image in product.images %}
        <div class="two columns thumb {% cycle 'alpha', '', '', '', 'omega'  %}">
          <a href="{{ image | product_img_url: 'original' }}" class="fancybox" data-index="{{ forloop.index0 }}" title="{{ image.alt | escape }}"><img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" /></a>
        </div>
        
        {% cycle '', '', '', '', '<div class="clear"></div>'  %}
      {% endfor %}
      </div>
  </div>
  
{% endif %}